.inventorycontainer {
  padding: 24px;
  background-color: #f8fafc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inventoryheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background-color:#f8fafc ;
}

.addItemsBtn {
  background-color: #22c55e;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.exportBtn:hover {
  background-color: #16a34a;
}
.searchNavBar{
  background-color: white;
  border: 1px solid rgb(173, 162, 162);
  
}

.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border: 1px solid #ccc;

}

.searchInput {
  width: 260px;
  padding: 12px;
  border-radius: 6px; 
  
}

.allItemsdropdown {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.inventoryTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
 
}

.inventoryTable th,
.inventoryTable td {
  padding: 14px ;
  text-align: center;
  /* border-left: none;
  border-right: none; */
}

.inventoryTable th {
  background-color:#f1f5f9;;
  color: #334155;
  font-size: 14px;
  font-weight: 600;
  
}
.inventoryTable tr {
  border-bottom: 0.5px solid #d4dbe2;
}

.itemCell {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.itemCell img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

/* .editIcon {
  font-size: 14px;
  margin-left: 6px;
  cursor: pointer;
  color: #4b5563;
} */

.statusBadge {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  display: inline-block;
}

.instock {
  background-color: #d1fae5;
  color: #065f46;
}

.lowstock {
  background-color: #fef3c7;
  color: #92400e;
}
.outofstock {
  background-color: #e0e0e0;  
  color: #333;                
}


.plus,
.minus {
  padding: 4px 10px;
  font-size: 16px;
  margin: 0 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.plus {
  
  color: #0284c7;
}

.minus {
  
  color: #b91c1c;
}
.plus:hover,
.minus:hover {
  color: rgb(47, 255, 179); 
  background-color:rgb(112, 39, 112);          
}
.editIcon {
  margin-left: 8px;
  cursor: pointer;
  color: #555;
}

.quantityInput {
  width: 60px;
  padding: 4px 6px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.addItemForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.addItemForm input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addItemForm button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.addItemForm button:last-child {
  background-color: #dc3545;
}


