.outnav{
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    gap: 500px;
    box-shadow: 0 0 2px grey;
    margin-bottom: 10px;
    padding: 10px;
    
}
.outnav h1{
    margin-right: 550px;
    margin-top: 10px;
}
.backmenu{
  text-decoration: none;
  color: black;
}
.grid1{
    box-shadow: 0 0 2px grey;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
    
    
}
.grid1 h3{
  margin-bottom: 10px;
}
.grid2{
    box-shadow: 0 0 2px grey;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 0px;
}
.grid2 h3,h4,hr,p,button{
  margin-bottom: 10px;
}
.grid3{
     box-shadow: 0 0 2px grey;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 2px;
}
.grid3 h3{
  margin-bottom: 10px;
}
.outmain{
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: center;
    align-items: center;
    gap: 30px   ;
    margin-top: -5px;
}

 .grid1 input {
  padding: 10px;
  background-color:whitesmoke;
  border: none;
  border-bottom: 2px solid #888;
  color:black;
  font-size: 14px;
  width: 290px;
  margin-bottom: 10px;
}

 
.outmain label{
    margin-bottom: 30px;
}
.grid2 strong{
  margin-left: 250px;
}
.grid2 span{
    margin-left: 200px;
}
.grid2 button{
    background-color: orange;
    border: none;
    height: 40px;
    width:310px;

}
.grid2 button:hover{
    cursor: pointer;
}
.grid3 input{
    cursor: pointer;
}
.icon {
  margin-right: 10px;
  font-size: 1.1rem;
  color: #6c63ff;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.4s ease;
}

.modalContent h2 {
  margin-bottom: 10px;
  color: #28a745;
}

.modalContent p {
  margin-bottom: 20px;
  color: #555;
}

.modalContent button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modalContent button:hover {
  background-color: #218838;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.rotatingBackground1 {
  position: fixed; 
  top: 100%;
  left:  67%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/oranges.png') no-repeat center center;
  background-size: cover;
  opacity: 0.5; 
  animation: rotate 60s linear infinite;
}
.rotatingBackground2 {
  position: fixed;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/vecteezy.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9; 
  animation: rotate 60s linear infinite;
}
.rotatingBackground3 {
  position: fixed; 
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/waterLemon.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9; 
}
.rotatingBackground4 {
  position: fixed;
  top: 95%;
  left: 1%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/cherry.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9;
  
}
.rotatingBackground5 {
  position: fixed; 
  top: 19%;
  left: 45%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/leef.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9; 
}
.rotatingBackground6 {
  position: fixed; 
  top: 9%;
  left: 35%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/vecteezy.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9;
  animation: rotate 60s linear infinite;
}
.rotatingBackground7 {
  position: fixed; 
  top: 14%;
  left: 2%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/oranges.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9; 
  animation: rotate 60s linear infinite;
}
.rotatingBackground8 {
  position: fixed;
  top: 16%;
  left: 95%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/greenApple.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9; 
}
.rotatingBackground9 {
  position: fixed; 
  top: 56%;
  left: 93%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/leef.png') no-repeat center center;
  background-size: cover;
  opacity: 0.9;
}
.rotatingBackground10 {
  position: fixed; 
  top: 10%;
  left: 80%;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: url('../../../assets/homeImages/strawbeery.png') no-repeat center center;
  background-size: cover;
  opacity: 1; 
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
